<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <header>
     <img style = "margin: 20px;" src="../static/Logo.png">
     
        <img style = "position: absolute; bottom: 10px; right:10px; " src="../static/Gognas.png"> 

        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('login')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('index2')}}">Channels</a>
              </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li> -->
           
          </ul>
    </header>
</head>

<body>
    
    <div class="login">
        <h1>Welcome.</h1>
        <form method="post" action = "{{url_for('login')}}" >
            <input type="text" name="user" placeholder="Create a Display Name" required="required" />
            
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        </form>
    </div>
</body>
</html>
